{{define "head_core"}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">

  <!-- Shared Utils (auth, theme, etc.) -->
  <script src="/static/assets/js/main.js"></script>
  <!-- Tailwind CSS -->
  <script src="/static/assets/vendor/tailwindcss.js"></script>
  <script src="/static/assets/tailwind.config.js"></script>

  <!-- Phosphor Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/phosphor-bold.css">

  <!-- Shared Assets -->
  <link rel="stylesheet" href="/static/assets/css/styles.css">
{{end}}
