{{define "svg_filter"}}
  <svg xmlns="http://www.w3.org/2000/svg" style="width:0;height:0;position:absolute;">
    <defs>
      <filter id="glass-distortion" x="0%" y="0%" width="100%" height="100%">
        <feTurbulence type="fractalNoise" baseFrequency="0.008 0.008" numOctaves="2" seed="40" result="noise" />
        <feGaussianBlur in="noise" stdDeviation="2" result="blurred" />
        <feDisplacementMap in="SourceGraphic" in2="blurred" scale="30" xChannelSelector="R" yChannelSelector="G" />
      </filter>
    </defs>
  </svg>
{{end}}
